
@media all and (min-width: 480px) {
	.login { 
		padding: 60px 0;
		border: 4px;
		
	}
	.login form {
		margin: 0 auto; 
		max-width: 320px;
	}
	
}
.navbar-nav { 
	display: flex;
	justify-content: right;
	margin-left: 1000px;
	display: inline;
	border-left:1px solid #3c3c3c;
	border-right:1px solid #3c3c3c;
}
form {
	border: 3px solid black;
  }
.titleLoginContainer {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 100px;
	
}
#Email.form-control {
	float: center;
	margin-left: 31px;
}
#Password.form-control {
	float: center;
}
